{% extends "::base.html.twig" %}


{% block body %}

<div>
    Steps:
    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
</div>
<form method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {% set flowStepNumber = flow.getCurrentStepNumber() %}


    {% if flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_FIRSTNAME') %}

        {% include 'TransformCoreAppBundle:MyForm:_firstName.html.twig' %}

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_LASTNAME') %}

         {% include 'TransformCoreAppBundle:MyForm:_lastName.html.twig' %}

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_EMAIL') %}

         {% include 'TransformCoreAppBundle:MyForm:_email.html.twig' %}

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_TERMS') %}

         {% include 'TransformCoreAppBundle:MyForm:_terms.html.twig' %}

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_REASONS') %}

         {% include 'TransformCoreAppBundle:MyForm:_reasons.html.twig' %}

    {% endif %}





    {% if flow.getCurrentStepNumber() == 1 %}


        {#
        <div>
            When selecting four wheels you have to choose the engine in the next step.<br />
            {{ form_row(form.numberOfWheels) }}
        </div>
        #}

    {% endif %}

    {{ form_rest(form) }}

    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
</form>

{% endblock %}