{% extends "::base.html.twig" %}


{% block body %}

<div>
    Steps:
    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
</div>
<form method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {% set flowStepNumber = flow.getCurrentStepNumber() %}


    {% if flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_FIRSTNAME') %}


        <h2>First Name</h2>


    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_LASTNAME') %}

        <h2>Last Name</h2>        

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_EMAIL') %}

        <h2>Email</h2>

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_TERMS') %}

        <h2>User Terms</h2>

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_REASONS') %}

        <h2>User Reasons</h2>

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_CONFIRMATION') %}

        <h2>Confirmation</h2>

    {% endif %}



    {% if flow.getCurrentStepNumber() == 1 %}


        {#
        <div>
            When selecting four wheels you have to choose the engine in the next step.<br />
            {{ form_row(form.numberOfWheels) }}
        </div>
        #}

    {% endif %}

    {{ form_rest(form) }}

    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
</form>

{% endblock %}