{% extends "::base.html.twig" %}


{% block body %}

<div>
    Steps:
    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
</div>
<form method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {% set flowStepNumber = flow.getCurrentStepNumber() %}


    {% if flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_ACCOUNT') %}

        <h2>User account</h2>

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_DETAIL') %}

        <h2>Details</h2>        

    {% elseif flowStepNumber == constant('\\TransformCore\\Bundle\\AppBundle\\Form\\MyFormFlow::FLOW_USER_ADDRESS') %}

        <h2>Address</h2>

    {% endif %}


    {{ form_rest(form) }}

    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
</form>



<p><a href="?toggler">Toggle Redirects {{ redirects }}</a></p>

{% endblock %}
