{% extends "::base.html.twig" %}

{% block title %}

    {% trans %}account.title{% endtrans %}

{% endblock %}

{% block heading %}

    <h1 class="form-title heading-large">{% trans %}account.title{% endtrans %}</h1>

{% endblock %}

{% block body %}

    <a href="{{ path('transform_core_app_profile_edit') }}" class="button">Continue application</a>

{% endblock %}
