{% extends "::base.html.twig" %}

{% block title %}

    {% trans %}review.title{% endtrans %}

{% endblock %}

{% block breadcrumb %}

    {% include 'TransformCoreAppBundle:Account:breadcrumb.html.twig' %}

{% endblock %}

{% block body %}

    <div class="review">

        {% include 'TransformCoreAppBundle:Account:FormReview/profile.html.twig' %}
        {% include 'TransformCoreAppBundle:Account:FormReview/eligibility.html.twig' %}
        {% include 'TransformCoreAppBundle:Account:FormReview/diversity.html.twig' %}
        
        <p class="submit"><a class="button" href="{{ path('transform_core_app_account') }}">{% trans %}button.submit{% endtrans %}</a></p>

        <style scoped>
            .heading a.button { float: right; font-size: 90%; margin-top: -3.2em; }
            .submit { margin-top: 3em; }
        </style>

    </div>

{% endblock %}
