{% extends "::base.html.twig" %}

{% block title %}

    {% trans %}socioEconomic.title{% endtrans %}

{% endblock %}

{% block heading %}

    <p class="step">{% trans %}socioEconomic.step{% endtrans %}</p>

    <h1 class="form-title heading-large">{% trans %}socioEconomic.title{% endtrans %}</h1>

{% endblock %}

{% block breadcrumb %}

    {% include 'TransformCoreAppBundle:Account:breadcrumb.html.twig' %}

{% endblock %}

{% block body %}

    <div class="text">
        <p class="introduction">{% trans %}socioEconomic.introduction{% endtrans %}</p>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
