{% extends "::base.html.twig" %}

{% block heading %}

    <h1 class="form-title heading-large">{% trans %}register.subtitle{% endtrans %}</h1>

{% endblock heading %}

{% block body %}

    {% block fos_user_content %}
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    {% endblock fos_user_content %}

{% endblock body %}
