{% extends "::base.html.twig" %}

{% block heading %}

    <h1 class="form-title heading-large">{% trans %}login.subtitle{% endtrans %}</h1>

{% endblock heading %}

{% block body %}

    {% block fos_user_content %}

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        
        <form novalidate action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label class="form-label" for="username">{% trans %}login.form.username.label{% endtrans %}</label>
                <input class="form-control" type="email" id="username"
                       name="_username" value="{{ last_username }}" required="required">
            </div>

            <div class="form-group">
                <label class="form-label" for="password">{% trans %}login.form.password.label{% endtrans %}</label>
                <input class="form-control" type="password" id="password"
                       name="_password" required="required">
            </div>

            <button class="button" type="submit" id="_submit"
                    name="_submit">{% trans %}login.form.login.label{% endtrans %}</button>
        </form>

    {% endblock fos_user_content %}

{% endblock body %}
