{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}guaranteedInterviewScheme.title{% endtrans %}
{% endblock %}

{% block body %}
    <h2>{% trans %}guaranteedInterviewScheme.title{% endtrans %}</h2>
{% endblock %}
