{% extends "::base.html.twig" %}

{% block title %}{% trans %}guaranteedInterviewScheme.title{% endtrans %}{% endblock %}

{% block heading %}

    <h1 class="form-title heading-large">{% trans %}guaranteedInterviewScheme.title{% endtrans %}</h1>

{% endblock %}

{% block body %}{% endblock %}
