{% extends "::base.html.twig" %}

{% block title %}

    {% trans %}home.title{% endtrans %}

{% endblock %}

{% block heading %}

    <h1 class="heading-large">Where will YOU lead?</h1>
    <h2 class="heading-medium">Join the Civil Service Fast Stream</h2>

{% endblock %}

{% block body %}

    <p>Are you interested in a career in the Civil service? Click on "Register" to sign up and start your application.</p>
    <a href="{{ path('fos_user_registration_register') }}" class="button">Start application</a>

{% endblock %}
